<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v2" version="1.68.0.3508" targetFramework="net48" />
  <package id="KeraLua" version="1.4.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLua" version="1.7.4" targetFramework="net48" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net48" />
  <package id="ProjNET" version="2.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.0-rc.1.24431.7" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.1" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="9.0.1" targetFramework="net48" />
  <package id="System.Management" version="9.0.0-rc.1.24431.7" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.1" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="9.0.0-rc.1.24431.7" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>